<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
<style>
body {
    font-size: 11pt;
    font-family: Lato, arial, sans-serif;
}
p{
  margin: 0;
}
.clear {clear: both;}
.group-summary{
  border-spacing: 3px;
  border-collapse: separate;
}
.group-even{
  background-color: #eee;
}
.group-odd{
  background-color: #ddd;
}
.group-summary tr:nth-child(even) {
  background-color: #eee
}
.group-summary tr:nth-child(odd){
  background-color: #ddd
}
.group-row-capacity{
  float: right;
}
.group-col-center{
  text-align: center;
}
.group-table-header{
  font-size: 1.25em;
  background-color: #bbb;
}

.group-button:hover {
  background-color: rgb(28, 82, 149);
  border-color: #1c5295;
  color: #fff;
}
.group-button{
  background-color: #006fbf;
  border-color: #1c5295;
  color: #fff;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-radius: .3rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 1rem;
  margin: 0;
  min-height: -webkit-calc(2em + 2px);
  min-height: calc(2rem + 2px);
  outline: 0;
  padding: 1.5rem 1.5rem;
  text-align: center;
}
ul.group-admin-actions{
  background-color: #ddd;
}
ul.group-admin-actions li{
  list-style-type: none;
  float: left;
  margin-right: 2rem;
}
<style>
.box a:hover {
    text-decoration: none;
}

.button {
  font-size: 1em;
  padding: 2px;
  color: #00f;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}
.box {
  width: 50%;
  margin: 0 auto;
  padding: 2px;
  border: 2px solid #fff;
  border-radius: 25px;
  text-align: center;
}

.button:hover {
  background: #FFFFFF;
    margin: 0 auto;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  margin-right:100px;
  float:right;
}
.popup h2 {
    font-size:1.5em;
  margin-top: 0;
  color: #333;
  font-family: sans-serif;
}
.popup .close {
  position: absolute;
  float:right;
  top: 30px;
  right: 110px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #FF0000;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="//lti.connectmv.com/images/tabulator.js"></script>


{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %} {% endblock %}
<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-91391576-3', 'auto');
  ga('send', 'pageview');
</script>



