{% extends "formation/base.html" %}
{% block header %}
<style>
.instructor-groups li{
   padding-bottom:10px
}
</style>

<script type="text/javascript">
$(document).on('click', ".group-admin-button", function() {
    var timer = null;
    var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': $(this).attr('id'),
                    'gfp': {{gfp.id}},};
    $.ajax({
        method: "POST",
        url: '/action/{{learner.user_ID}}/',
        data: postdata,
        cache: false,
        context: $(this),
        dataType: 'html'
    })
    .always(function(html_response, postdata) {
        console.log('Returned with' + html_response);
        setTimeout(function() { location.reload(); }, 100);
    });
});
$(document).ready(function() {
    var timer = null;
    $('input.group-XHR-update').on("keydown click", function(event) {
        if (timer){
            window.clearTimeout(timer);
        };
        timer = window.setTimeout(function(event)
        {
            var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'gfp': {{gfp.id}},
                            'action': 'admin-settings-updated'};
            $('input.group-XHR-update').each(function() {
                postdata[$(this).attr('name')] = $(this).val() + '|' + $(this).is(':checked');
            });

            $.ajax(
            {
                type: "POST",
                url: '/action/{{learner.user_ID}}/',
                data: postdata,
                cache: false,
            })
            .always(function(html_response, postdata) {
                    $('.group-creation-feedback').fadeIn()
                    $('.group-creation-feedback').html(html_response).fadeOut(2000);
                });

        }, 1000);
    });
});
</script>
{% endblock %}{# header #}


{% block content %}
<div class="group-admin-button" id='clear-everything' style="float: right">
    <ul class="group-admin-actions">
        <li>
        <input type="hidden" name="gfp" value="{{gfp.id}}"><button class="group-button" id="clear-everything" type="submit">Clear everything and start over</button>
        </li></ul>
</div>
Create groups for self-enrollment in 6 steps:
<ol class="instructor-groups">
<li> a) Either upload a CSV (comma-separated values) file with the information shown in the table. Here is <a href="//lti.connectmv.com/images/group-formation-template-brightspace.csv">a template to start from</a>. This approach is useful if you have many groups to upload.
    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value='group-CSV-upload'>
        <input type="hidden" name="user_ID" value="{{learner.user_ID}}">
        <input type="hidden" name="gfp" value="{{gfp.id}}">
        <input type="hidden" name="context_id" value="{{course.label}}">
        <input type="hidden" name="resource_link_id" value="{{gfp.LTI_id}}">
        <input type="hidden" name="roles" value="Admin">
        <input id="id_file_upload" initial_text="Please upload your CSV file" name="file_upload" type="file" required="" accept=".csv" style="display: inline">
        <input type="submit" name="Upload">

    </form>
    Uploading a second CSV file will append to the table below.
</ol>

<ol start="1" class="instructor-groups">
<li> b) or, manually edit the table below, filling in group names, capacity and a description (optional) for each group. Emptying all text in a row will delete a group. This approach is better for a small number of groups.

<li>Students can join or leave groups until:
<input class="group-admin-actions" id="dateFormat" placeholder="dd-mm-YYYY HH:MM" style="border-color: #1c5295; margin-left: 5px">
<!--<span style="color:#aaa">e.g 3 April 2017 at 16:30 should be entered as: <tt>dd-mm-yyyy HH:MM</tt></span>-->

<li>Check the box if students are allowed to join more than one group: <input class="group-XHR-update" type="checkbox" name="multi_group" value="multi_group_yes" style="border-color: #1c5295; transform: scale(1.5); margin-left: 5px" />

<li>Enter a category name that will be used in Brightspace: <input class="group-XHR-update" id="category_name" name="category_name" placeholder="e.g. Groups for Arduino workshop" style="border-color: #1c5295; width:20em; margin-left: 5px">

<li>Fine-tune the details in the table. Refreshing this page will confirm the latest setting in our database.
<li>Click the "Finish the group set up" button below. <span style="color:darkorange">Note: after this click you cannot change the details about each group.</span>
</ol>
<!--Once the group settings are accurate, please click the "Create empty groups" button.-->

<span class="clear">&nbsp;<span class="group-creation-feedback" style="color: orange;  padding-top: 1em; padding-right: 1em;"></span></span>

<div class="clear" id="group-table" style="margin-left: 20px; margin-right: 20px"></div>

<span style="padding-left:20px">Click in the cells to edit the group information. (<em>hint</em>: use the "<tt>tab</tt>" key on your keyboard to advance to the next cell). </span>
<ul class="group-admin-actions">

<li><button id="add-row" >Add a new row to the table above</button></form>
<li><button id="download-csv">Download CSV of groups, as currently shown in the table</button>

</ul>


<br><br>
<table style="padding:1em border-spacing:5px; margin-left:20px">
<tr>
    <td width="300px">Once you click this button the group names, capacities and descriptions are fixed, and cannot be adjusted. <em>Hint</em>: Download a CSV of these group details to save time in the future.</td>
    <td width="300px">
        <ul class="group-admin-actions"><li>
        <form method="POST" action="/action/{{learner.user_ID}}/">{% csrf_token %}<input type="hidden" name="action" value='group-CSV-download'><input type="hidden" name="gfp" value="{{gfp.id}}"><button class="group-button" id="group-CSV-download" type="submit">Finish the group set up</button></form>
        </li></ul>
    </td>
</tr>
<tr>
    <td></td>

</tr>
</table>

{% endblock %} {# content#}

{% block footer %}
<script type="text/javascript">

var tabledata = [ {% if groups %}
                    {%for group in groups %}
                        { id:{{group.order}}, group_name:"{{group.name}}", capacity:{{group.capacity|floatformat}}, description:'{{group.description}}' },
                    {% endfor %}
                  {% else %}
                    {{no_groups|safe}}
                  {% endif %}
    ];

$("#group-table").tabulator({
    columns:[
        {title:"Group name", field:"group_name", width: 200, editable:true},
        {title:"Maximum capacity", field:"capacity", width: 150,  align:"center",  editable:true},
        {title:"Description (optional)", field:"description", align:"left",   editable:true}
    ],
    fitColumns:true,
    <!--movableRows: true,-->
    cellEdited:function(id, column_name, cell_value){
        var row_data = $("#group-table").tabulator("getRowData", id);
        var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'action': 'row-update',
                        'gfp': {{gfp.id}},
                        'table_group_id': id,
                        'group_description': row_data['description'],
                        'group_capacity': row_data['capacity'],
                        'group_name': row_data['group_name'],
                        };
        $.ajax({
            method: "POST",
            url: '/action/{{learner.user_ID}}/',
            data: postdata,
            cache: false,
            context: $(this),
            dataType: 'html'
        })
        .always(function(html_response, postdata) {
            $('.group-creation-feedback').fadeIn()
            $('.group-creation-feedback').html(html_response).fadeOut(3000);
        });


    },

});
$("#group-table").tabulator("setData", tabledata);
$(window).resize(function(){
    $("#group-table").tabulator("redraw");
});

//Add row on "Add Row" button click
$("#add-row").click(function(){
    var data = $("#group-table").tabulator("getData");
    var next_id = 1;
    for (i = 0; i < data.length; i++) {
        next_id = Math.max(next_id, data[i]['id']);
    }
    $("#group-table").tabulator("updateData", [{id:next_id + 1,  group_name:'Group '+(next_id + 1)}]);
});
//Delete row on "Delete Row" button click
$("#delete-row").click(function(){
    var selectedData = $("#group-table").tabulator("getSelectedData");
    if (selectedData){
        $("#group-table").tabulator("deleteRow", 1);
    };
});
$("#download-csv").click(function(){
    $("#group-table").tabulator("download", "csv", "groups-draft-names.csv");
});
</script>

<!-- Date/time picker; MIT licensed https://chmln.github.io/flatpickr/examples/ -->
<script>
    var reg = flatpickr('#flatpickr');
    Flatpickr.l10ns.default.firstDayOfWeek = 1;

    // Custom date format
    flatpickr('#dateFormat',
       {dateFormat: 'd-m-Y H:i',
        minDate: "today",
        enableTime: true,
        minuteIncrement: 5,
        enabletime: true,
        time_24hr:true,
        timeFormat: "H:i",
        weekNumbers: true,
        onChange: function(dateObj, dateStr, instance)
            {
                var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'action': 'date-update',
                                'gfp': {{gfp.id}},
                                'datestring': dateStr,
                                };
                $.ajax({
                    method: "POST",
                    url: '/action/{{learner.user_ID}}/',
                    data: postdata,
                    cache: false,
                    context: $(this),
                    dataType: 'html'
                })
                .always(function(html_response, postdata) {
                    $('.group-creation-feedback').fadeIn()
                    $('.group-creation-feedback').html(html_response).fadeOut(2000);
                });

            },
       });

</script>
{% endblock %}







