{% extends "formation/base.html" %}
{% block header %}
<script language="javascript" type="text/javascript">
$(document).on('click', "a.group-info-click", function() {
    var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'see-members',
                    'group_id': $(this).attr("id"),
                    'gfp': {{gfp.id}},};
    $.ajax({
        method: "POST",
        url: '/action/{{learner.user_ID}}/',
        data: postdata,
        cache: false,
        context: $(this),
        dataType: 'html'
    })
    .always(function(html_response, postdata) {
        $('.content').html(html_response);
    });

});
$(document).on('click', ".group-admin-button", function() {
    var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': $(this).attr('id'),
                    'gfp': {{gfp.id}},};
    $.ajax({
        method: "POST",
        url: '/action/{{learner.user_ID}}/',
        data: postdata,
        cache: false,
        context: $(this),
        dataType: 'html'
    })
    .always(function(html_response) {
        if ($(this)[0].id == 'group-enrollment-log'){
            reply = JSON.parse(html_response)
            var summary_text = "";
            if (reply.length > 1){
               summary_text += 'There are ' + reply.length + ' events.';
            }else if(reply.length == 1){
               summary_text += 'There is 1 event.';}
            else{ summary_text = 'No activity has taken place yet.'; }
            $('#group-extra-info-XHR').html(summary_text + "<table id='group-log' class='group-summary'>");
            $('#group-log').html("<thead><tr><th>Date and time</th><th>Student</th><th>Action</th><th>Group</th></tr></thead><tbody>");
            $('#group-log').append('</tbody></table>');
            var item, col, i, j, text;
            for (i = 0; i < reply.length; i++) {
                item = reply[i];
                text = ('<tr>')
                for (j=0; j < item.length; j++)
                    text += '<td>' + item[j] + '</td>';
                $('#group-log > tbody:last-child').append(text + '</tr>')
            }
        }else{
            $('#group-extra-info-XHR').html(html_response);
        }

    });
});
</script>

{% endblock %}{# header #}


{% block content %}
<table class="group-summary" >
<thead>
<tr class="group-table-header">
    <th>Group name</th>
    <th>Description</th>
    <th>Capacity</th>
    <th>Number joined</th>
    <th>Spaces free</th>
    <th>Members</th>
</tr>
</thead>
<tbody>
{% for group in groups %}
    <tr class="group-{% cycle 'odd' 'even' %}">
        <td>{{group.name}} {% if group.n_enrolled %}<a href="#" class="group-info-click" id="{{group.id}}"></a>{% else %}{% endif %}</td>
        <td>{{group.description}}</td>
        <td class="group-col-center">{{group.capacity}}</td>
        <td class="group-col-center">{{group.n_enrolled}}</td>
        <td class="group-col-center">{{group.n_free}}</td>
        <td class="group-col-center"></td>
    </tr>
{% endfor %}{# for group in groups #}
</tbody>
</table>
<hr>

<ul class="group-admin-actions">
<li><form method="POST" method="POST" action="/action/{{learner.user_ID}}/">{% csrf_token %}<input type="hidden" name="action" value='group-CSV-download'><input type="hidden" name="gfp" value="{{gfp.id}}"><button class="group-button" id="group-CSV-download" type="submit">Download CSV enrollment list</button></form>
<li><button class="group-button group-admin-button" id="group-enrollment-log">Log (click to refresh)</button>
<li><button class="group-button group-admin-button" id="group-push-enrollment">Publish this enrollment in Brightspace</button>
</ul>

<div class="clear"></div>
<div id="group-extra-info-XHR">&nbsp;</div>
{% endblock %} {# content#}

{% block footer %}
{% endblock %}