<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script language="javascript" type="text/javascript">
$(document).on('click', "a.group-click", function() {
    var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': $(this).attr('class').replace('group-click ', ''),
                    'group_id': $(this).attr("id"),
                    'gfp': {{gfp.id}},};
    $.ajax({
        method: "POST",
        url: '/action/{{learner.user_ID}}/',
        data: postdata,
        cache: false,
        context: $(this),
        dataType: 'html'
    })
    .always(function(html_response, postdata) {
        
        $('#group-extra-info-XHR').html(html_response);
        setTimeout(function() { location.reload(); }, 500);
    });
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

</script>

<div id="group-extra-info-XHR">&nbsp;</div>

<table class="group-summary" >
<thead>
<tr><th>Name</th>
    <th>Description</th>
    <th>Enrollements</th>
    <th>Add yourself</th>
    <th>Leave group</th>
    <th>Add to waitlist</th>
</tr>
</thead>
<tbody>
{% for group in groups %}
    <tr class="group-{% cycle 'odd' 'even' %}">
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
        <td>{{group.n_enrolled}} / {{group.capacity}}</td>
        <td>{% if group.enrol_link %}
               <a href="#" class="group-click group-enrol" id="{{group.id}}">Join</a>
                 {%if is_enrolled_already and not gfp.allow_multi_enrol%}*{%endif%}
            {%else%}
                
            {% endif %}</td>
        
        <td>{% if group.unenrol_link %}<a href="#" class="group-click group-unenrol" id="{{group.id}}">Leave</a>{% endif %}</td>
            
        <td>{% if group.waitlist_link %}<a href="#" class="group-click group-add-waitlist" id="{{group.id}}">Add myself to waitlist</a>{% endif %}</td>
    </tr>
{% endfor %}{# for group in groups #}
</tbody>
</table>
<hr>
{%if is_enrolled_already and not gfp.allow_multi_enrol%}* If you click to join another group, you will automatically leave the other.{%endif%}